{% extends 'base.html' %}
{% block content %}
<h2>Your Cart</h2>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Product</th>
      <th>Variation</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Line Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{ item.product.title }}</td>
      <td>
  {% if item.variation %}
    {{ item.variation.size }}
  {% else %}
    N/A
  {% endif %}
</td>

      <td>{{ item.quantity }}</td>
      <td>
  {% if item.variation %}
    {{ item.variation.price }}
  {% else %}
    {{ item.product.variations.first.price }}
  {% endif %}
</td>

      <td>{{ item.line_total }}</td>
      <td>
        <form method="post" action="{% url 'remove_cart_item' item.id %}">
          {% csrf_token %}
          <button type="submit">Remove</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">Your cart is empty.</td></tr>
    {% endfor %}
  </tbody>
</table>

<h3>Total: {{ total }}</h3>

{% if cart_items %}
  <form method="get" action="{% url 'checkout' %}">
    <button type="submit">Proceed to Checkout</button>
  </form>
{% endif %}


{% endblock %}
